<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spread.it.mqtt.publish.mapper.PayloadMapper">
    <select id="findAll" resultType="com.spread.it.mqtt.publish.entity.Payload">
        select * from MQTT_PAYLOAD
    </select>
</mapper>